@model Softphone.Frontend.Models.WorkspaceBO

<form onsubmit="return false;">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">Twilio Account SID</label>
            <input type="text" asp-for="TwilioAccountSID" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">Twilio Auth Token</label>
            <input type="text" asp-for="TwilioAuthToken" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">Channel Automation API Key</label>
            <input type="text" asp-for="ChannelAutomationAPIKey" class="form-control" />
        </div>
    </div>
</form>
<div class="text-center mt-5 mb-1">
    <button class="btn bg-gradient-dark mr-2" onclick="cancelConfiguration()"><i class="fas fa-times-circle"></i> Cancel</button>
    <button class="btn bg-gradient-purple" onclick="saveConfiguration(this)"><i class="fas fa-save"></i> Save</button>
</div>

<script>
    $(() => {
        let form = configurationDialog.find("form");
        initializeFormControls(form);
    });

    function cancelConfiguration() {
        configurationDialog.modal("hide");
    }

    function saveConfiguration(btn) {
        let form = configurationDialog.find("form");
        //Client Validation
        if (form.find("[name=TwilioAccountSID]").val().trim() == "") {
            form.find("[name=TwilioAccountSID]").focus();
            toastr.error("Twilio Account SID is required.", "Error..");
            return false;
        }
        if (form.find("[name=TwilioAuthToken]").val().trim() == "") {
            form.find("[name=TwilioAuthToken]").focus();
            toastr.error("Twilio Auth Token is required.", "Error..");
            return false;
        }
        if (form.find("[name=ChannelAutomationAPIKey]").val().trim() == "") {
            form.find("[name=ChannelAutomationAPIKey]").focus();
            toastr.error("Channel Automation API Key is required.", "Error..");
            return false;
        }
        //Server Processing
        startAjaxSpinner(btn);
        $.post("@Url.Action("Save")", form.serialize(), (response) => {
            if (errorMessages(response)) return false;
            else {
                configurationDialog.modal("hide");
                toastr.success("Configuration successfully saved.", "Success!");
            }
        });
        return false;
    }
</script>
