@page
@model Softphone.Frontend.Pages.ConfigurationModel
<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">

		</div>
	</div>
</div>