@page
@model IndexModel
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card 
            mdc-layout-grid__cell--span-3-desktop 
            mdc-layout-grid__cell--span-16-tablet 
            mdc-layout-grid__cell--span-12-phone">
            <div class="mdc-card info-card info-card--info">
                <div class="card-inner">
                    <h5 class="card-sub-title">Total Calls</h5>
                    <h5 class="card-title pb-2 mb-1 border-bottom">725</h5>
                    <p class="tx-12 text-success">48% increased</p>
                    <div class="card-icon-wrapper">
                        <i class="material-icons">phone</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card
            mdc-layout-grid__cell--span-3-desktop
            mdc-layout-grid__cell--span-16-tablet
            mdc-layout-grid__cell--span-12-phone">
			<div class="mdc-card info-card info-card--danger">
                <div class="card-inner">
                    <h5 class="card-sub-title">Average Duration</h5>
                    <h5 class="card-title pb-2 mb-1 border-bottom">325</h5>
                    <p class="tx-12 text-danger">-48% decreased</p>
                    <div class="card-icon-wrapper">
                        <i class="material-icons">schedule</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card
            mdc-layout-grid__cell--span-3-desktop
            mdc-layout-grid__cell--span-16-tablet
            mdc-layout-grid__cell--span-12-phone">
            <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                    <h5 class="card-sub-title">Success Rate</h5>
                    <h5 class="card-title pb-2 mb-1 border-bottom">85</h5>
                    <p class="tx-12 text-success">48% increased</p>
                    <div class="card-icon-wrapper">
                        <i class="material-icons">check_circle</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card
            mdc-layout-grid__cell--span-3-desktop
            mdc-layout-grid__cell--span-16-tablet
            mdc-layout-grid__cell--span-12-phone">
            <div class="mdc-card info-card info-card--warning">
                <div class="card-inner">
                    <h5 class="card-sub-title">Consumer Rating</h5>
                    <h5 class="card-title pb-2 mb-1 border-bottom">4.8</h5>
                    <p class="tx-12 text-success">48% increased</p>
                    <div class="card-icon-wrapper">
                        <i class="material-icons">star</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card 
            mdc-layout-grid__cell--span-5
            mdc-layout-grid__cell--span-12-phone">
            <div class="mdc-card">
                <div class="d-flex d-lg-block d-xl-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Call Status Distribution</h4>
                        <h6 class="card-sub-title">Current status breakdown</h6>
                    </div>
                    <div id="sales-legend" class="d-flex flex-wrap"></div>
                </div>
                <div class="chart-container mt-4">
                    <canvas id="call-status-distribution" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell stretch-card
            mdc-layout-grid__cell--span-7
            mdc-layout-grid__cell--span-12-phone">
            <div class="mdc-card">
                <div class="d-flex d-lg-block d-xl-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Weekly Call Metrics</h4>
                        <h6 class="card-sub-title">(+43%) than last week</h6>
                    </div>
                </div>
                <div class="chart-container mt-4">
                    <canvas id="weekly-call-metrics" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


