@{
    ViewBag.Title = "Home";
}
<div class="row mb-3 mt-3">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <p>Total Calls</p>
                <h2 id="lblTotalCount">0</h2>
            </div>
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="small-box-footer text-sm" id="divTotalCountChanges">
                0% increased <i class="fas fa-arrow-up-wide-short"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-purple">
            <div class="inner">
                <p>Inbound Calls</p>
                <h2 id ="lblInboundCount">0</h2>
            </div>
            <div class="icon">
                <i class="fas fa-headphones"></i>
            </div>
            <div class="small-box-footer text-sm" id="divInboundCountChanges">
                0% increased <i class="fas fa-arrow-up-wide-short"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <p>Outbound Calls</p>
                <h2 id="lblOutboundCount">0</h2>
            </div>
            <div class="icon">
                <i class="fas fa-square-phone"></i>
            </div>
            <div class="small-box-footer text-sm" id="divOutboundCountChanges">
                0% increased <i class="fas fa-arrow-up-wide-short"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <p>Average Duration</p>
                <h2 id="lblAverageDuration">0.0</h2>
            </div>
            <div class="icon">
                <i class="fas fa-clock"></i>
            </div>
            <div class="small-box-footer text-sm" id="divAverageDurationChanges">
                0% increased <i class="fas fa-arrow-up-wide-short"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card card-purple card-outline">
            <div class="card-header">
                <div class="card-title">
                    <b>Call Status Distribution</b>
                    <br /><small>Current status breakdown</small>
                </div>
            </div>
            <div class="card-body">
                <canvas id="call-status-distribution" height="350"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-purple card-outline">
            <div class="card-header">
                <div class="card-title">
                    <b>Weekly Call Metrics</b>
                    <br /><small>(+43%) than last week</small>
                </div>
            </div>
            <div class="card-body">
                <canvas id="weekly-call-metrics" height="160"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            updateDashboard();
        });

        function updateDashboard() {
            $.get("@Url.Action("DashboardData")", function (response) {
                $("#lblTotalCount").text(numeral(response.totalCountNow).format("0,0"));
                $("#lblInboundCount").text(numeral(response.inboundCountNow).format("0,0"));
                $("#lblOutboundCount").text(numeral(response.outboundCountNow).format("0,0"));
                $("#lblAverageDuration").text(numeral(response.averageDurationNow).format("0,0.0"));
                //Set update timer for every 10 seconds
                setTimeout(updateDashboard, 10000);
            });
        }
    </script>
}


