<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title | Softphone</title>
    <link href="~/favicon.png" rel="shortcut icon" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/icheck/skins/all.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page bg-navy">
    <div class="login-box">
        @RenderBody()
    </div>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/icheck/icheck.min.js"></script>
	<script src="~/lib/toastr/toastr.min.js"></script>
	<script src="~/lib/admin-lte/js/adminlte.min.js"></script>
	<script src="~/js/spinner.js"></script>
    <script>
        toastr.options = { "positionClass": "toast-bottom-right" };
        $(() => {
            $('.icheck').iCheck({
                checkboxClass: 'icheckbox_square-purple',
                radioClass: 'iradio_square-purple'
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>