<div class="card card-purple elevation-2" id="divDialer">
	<div class="card-header">
        <h3 class="card-title">Dialer</h3>
	</div>
	<div class="card-body p-4">
        <input type="hidden" id="hdnUsername" value="@ViewBag.LoggedUser.Username" />
        <label class="text-purple"><i class="fas fa-mobile-retro"></i> To:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><div class="input-group-text">+1</div></div>
            <input class="form-control inputmask-usphone" placeholder="Phone Number">
        </div>
        <label class="text-purple"><i class="fas fa-user-tie"></i> From:</label>
        <select class="form-control select2-agentphone"></select>
        <small class="text-purple"></small>
	</div>
    <div class="card-footer">
        <button type="button" class="btn bg-gradient-purple btn-block">
            <i class="fas fa-phone"></i> Place Call
        </button>
    </div>
</div>