<div class="card card-purple elevation-2">
	<div class="card-header">
        <h3 class="card-title">Dialer</h3>
	</div>
	<div class="card-body">
        <form onsubmit="return false;" id="frmDialer">
            @Html.AntiForgeryToken()
            <label>To:</label>
            <div class="input-group mb-2 bg-light">
                <input type="text" name="PhoneNo" class="form-control" placeholder="Phone No.">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-fax"></span>
                    </div>
                </div>
            </div>
            <label>From:</label>
            <div class="input-group mb-2 bg-light">
                <input type="password" name="Password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user-tie"></span>
                    </div>
                </div>
            </div>
        </form>
	</div>
    <div class="card-footer">
        <button type="button" class="btn bg-gradient-purple btn-block" onclick="placeCall()">
            <i class="fas fa-phone"></i> Place Call
        </button>
    </div>
</div>