<footer class="main-footer border-0">
    Copyright &copy; 2025 <strong>Softphone <small>Non-EDTS </small></strong>
    <span class="float-right d-none d-md-block">All rights reserved.</span>
</footer>