<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header">
        <span class="mdc-typography--headline1" style="color:white">Softphone</span>
      </div>
      <div class="mdc-drawer__content">
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="@Url.Action("Index", "Home")">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                Dashboard
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="@Url.Action("Index", "Configuration")">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">phone</i>
                Configurations
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="@Url.Action("Index", "AgentList")">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">group</i>
                Agent List
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/charts/chartjs.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">chat</i>
                Livechat
              </a>
            </div>
          </nav>
        </div>
        <div class="profile-actions">
            <a href="javascript:;">Profile</a>
            <span class="divider"></span>
            <a href="javascript:;" onclick="_logout(this)">Logout</a>
        </div>
      </div>
    </aside>