@{
    ViewBag.Title = "Live Chat";
}
<div class="card card-purple card-outline">
    <div class="card-header">
        <div class="card-title">
            <b>Live Chat</b>
        </div>
    </div>
    <div class="card-body p-0">
        <iframe title="Livechat Portal"
                src="https://app.qonvoai.com"
                style="width: 100%;height: calc(100vh - 64px);border:none">
        </iframe>
    </div>
</div>