<div class="card card-purple card-outline">
    <div class="card-header">
        <h3 class="card-title">Live Chat</h3>
    </div>
    <div class="card-body p-0">
        <iframe title="Livechat Portal"
                src="https://app.qonvoai.com"
                style="width: 100%;height: calc(100vh - 64px);border:none">
        </iframe>
    </div>
</div>