@{
    ViewBag.Title = "Home";
}
<div class="row mb-3 mt-3">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <p>Total Calls</p>
                <h2>785</h2>
            </div>
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <span class="small-box-footer text-sm">+48% increased <i class="fas fa-arrow-up-wide-short"></i></span>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-purple">
            <div class="inner">
                <p>Average Duration</p>
                <h2>395</h2>
            </div>
            <div class="icon">
                <i class="fas fa-clock"></i>
            </div>
            <span class="small-box-footer text-sm">-18% decreased <i class="fas fa-arrow-down-wide-short"></i></span>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <p>Success Rate</p>
                <h2>78</h2>
            </div>
            <div class="icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <span class="small-box-footer text-sm">+58% increased <i class="fas fa-arrow-up-wide-short"></i></span>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <p>Consumer Rating</p>
                <h2>6.5</h2>
            </div>
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <span class="small-box-footer text-sm">+18% increased <i class="fas fa-arrow-up-wide-short"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card card-purple card-outline">
            <div class="card-header">
                <div class="card-title">
                    <b>Call Status Distribution</b>
                    <br /><small>Current status breakdown</small>
                </div>
            </div>
            <div class="card-body">
                <canvas id="call-status-distribution" height="350"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-purple card-outline">
            <div class="card-header">
                <div class="card-title">
                    <b>Weekly Call Metrics</b>
                    <br /><small>(+43%) than last week</small>
                </div>
            </div>
            <div class="card-body">
                <canvas id="weekly-call-metrics" height="160"></canvas>
            </div>
        </div>
    </div>
</div>



