<form onsubmit="return false;">
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">Current Password</label>
            <input type="password" name="CurrentPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">New Password</label>
            <input type="password" name="NewPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label class="text-purple">Confirm New Password</label>
            <input type="password" name="ConfirmNewPassword" class="form-control" />
        </div>
    </div>
</form>
<div class="text-center mt-5 mb-1">
    <button class="btn bg-gradient-dark mr-2" onclick="_cancel()"><i class="fas fa-times-circle"></i> Cancel</button>
    <button class="btn bg-gradient-purple" onclick="_save(this)"><i class="fas fa-save"></i> Save</button>
</div>

<script>
    function _cancel() {
        changePasswordDialog.modal("hide");
    }

    function _save(btn) {
        let form = changePasswordDialog.find("form");
        //Client Validation
        if (form.find("[name=CurrentPassword]").val() == "") {
            form.find("[name=CurrentPassword]").focus();
            toastr.error("Current Password is required.", "Error..");
            return false;
        }
        if (form.find("[name=NewPassword]").val().length < 6) {
            form.find("[name=NewPassword]").focus();
            toastr.error("New Password must have at least 6 characters.", "Error..");
            return false;
        }
        if (form.find("[name=NewPassword]").val() != form.find("[name=ConfirmNewPassword]").val()) {
            form.find("[name=ConfirmNewPassword]").focus();
            toastr.error("Confirm New Password did not match.", "Error..");
            return false;
        }
        //Server Processing
        startAjaxSpinner(btn);
        $.post("@Url.Action("ChangePassword")", form.serialize(), function (response) {
            if (response == "") {
                changePasswordDialog.modal("hide");
                toastr.success("Password successfully changed.", "Success!");
            }
            else toastr.error(response, "Error..");
        });
    }
</script>