@{
    ViewBag.Title = "Login";
    Layout = "_Layout2";
}

<div class="card card-red">
    <div class="card-header text-center bg-gradient-purple">
        <img src="~/logo.png" class="img img-fluid img-round" style="height:130px" />
        <div class="h3 m-1 font-weight-bold">SOFTPHONE<br />
            <span class="h5 font-weight-light font-italic">Non-EDTS</span>
        </div>
    </div>
    <div class="card-body login-card-body bg-white">
        <p class="login-box-msg">Enter your credentials below</p>
        <form onsubmit="return false;">
            @Html.AntiForgeryToken()
            <div class="input-group mb-3 bg-light">
                <input type="text" name="Username" class="form-control" placeholder="Username" autocomplete="off">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3 bg-light">
                <input type="password" name="Password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @Html.CheckBox("Remember", new { @class = "icheck" })
                    <label>Remember</label>
                </div>
                <div class="col-6">
                    <button type="button" class="btn bg-gradient-purple btn-block" id="btnLogin" onclick="login()">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("[name=Username]").keyup((e) => {
                if (e.which == 13) login();
            });

            $("[name=Password]").keyup((e) => {
                if (e.which == 13) login();
            });
        });

        function login() {
            if ($("[name=Username]").val().trim() == "") {
                toastr.error("Username is required.", "Error..");
                return false;
            }
            if ($("[name=Password]").val() == "") {
                toastr.error("Password is required.", "Error..");
                return false;
            }
            startAjaxSpinner(document.getElementById("btnLogin"));
            $.post("@Url.Action("Login")", $("form").first().serialize(), function (response) {
                if (response != "") toastr.error(response, "Error..");
                else location.href = "@Url.Action("Index", "Home")";
            });
        }
    </script>
}






