<strong>Are you sure to logout?</strong>
<hr />
<div class="text-center">
    <button class="btn bg-gradient-dark mr-2" onclick="_no()"><i class="fas fa-times-circle"></i> No</button>
    <button class="btn bg-gradient-purple" onclick="_yes(this)"><i class="fas fa-check-circle"></i> Yes</button>
</div>

<script>
    function _no() {
        logoutDialog.modal("hide");
    }

    function _yes(btn) {
        startRedirectSpinner(btn);
        location.href = "@Url.Action("LogoutYes")";
    }
</script>