<div class="card card-navy bg-gradient-navy elevation-2" style="display:none" id="divCalling">
	<div class="card-header">
        <h3 class="card-title"><i class="fas fa-phone-volume"></i></h3>
	</div>
	<div class="card-body text-center">
        <img src="~/caller.png" class="img img-cirlce mb-2" style="width:115px" />
        <h6>+19999999999</h6>
        <h4 class="text-success">Calling..</h4>
	</div>
    <div class="card-footer">
        <button type="button" class="btn bg-gradient-danger btn-block">
            <i class="fas fa-phone-slash"></i> End Call
        </button>
    </div>
</div>